div
{
    margin: 1em;
    text-align: center;
}

input
{
    border-radius: 5px;
    height: 8vh;
    width: 20vw;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
