<div class="example-container">
    <mat-form-field appearance="fill">
      <label>Firstname</label>
      <br><br>
      <input  [formControl]="firstname"  placeholder="Firstname">
      <br><br>
      <label>Lastname</label>
      <br><br>
      <input [formControl]="lastname"  placeholder="lastname" >
      <br><br>
      <label>Enter your email</label>
      <br><br>
      <input  [formControl]="email" placeholder="name@gmail.com">
      <br><br>
      <label>Enter Password</label>
      <br><br>
      <input   [formControl]="password" >
    </mat-form-field>
    <div mat-button color="primary">
        <button  mat-flat-button color="primary" type="submit"  onclick="SignUp()">Sign Up</button>
    </div>
  </div>

