.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    margin-top: 2px;
}

.example-header-image {
    background-size: cover;
}

.title {
    font-weight: bold;
}

.img-article {
    height: 700px;
}

.action-buttons {
    text-align: center;
}

.example-container {
    background: url("/assets/images/KK.jpg");
    width: 100%;
    height: auto;
    border: 1px solid rgba(20, 19, 19, 0.507);
}

.example-sidenav-content {
    display: flex;
    height: 75%;
    align-items: stretch;
    justify-content: center;
}

.example-sidenav {
    padding: 2px;
}

.source-name {
    margin-left: 5px;
}

.list-item:hover {
    cursor: pointer;
    background-color: #8c92b3;
    color: white;
}